#mensaje{
    height: 150px;
    min-height: 80px;
    max-height: 500px;
}

.bg-img{
    position: fixed;
    top: 50px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-image: url(../../../assets/img/contacto/contacto_2000x2000.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.glass-effect{
    // background: rgba(255, 255, 255, 0.3);
    // border-radius: 16px;
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.icon-contact{
    width: clamp(60px, 10vw, 80px);
    height: auto;
}

.icon-imdb{
    filter: grayscale(1) brightness(2);
    transition: .2s ease;
}

.icon-instagram{
    filter: grayscale(1) brightness(5);
    transition: .2s ease;
}

.icon-contact:hover{
    filter: none;

}