#mensaje{
    height: 150px;
    min-height: 80px;
    max-height: 500px;
}

.bg-img{
    position: fixed;
    top: 50px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-image: url(../../../assets/img/contacto/contacto_2000x2000.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.glass-effect{
    // background: rgba(255, 255, 255, 0.3);
    // border-radius: 16px;
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.icon-imdb:hover .fa-imdb{
    color: #ffc107 ;
    transition: .3s ease;
}

.icon-instagram .fa-instagram{
}

.icon-instagram:hover .fa-instagram{
    color: rgb(66, 3, 184);
    // -webkit-mask-image: linear-gradient(60deg, black, rgba(255, 0, 0, 0.5) );
    // mask-image: radial-gradient(black 50%, rgba(0, 0, 0, 0.5));
    // mask-mode: alpha;
}