<header class="d-none d-md-block text-center" [ngClass]="bigHeader ? 'p-0' : 'py-3'">
    <h1 [ngClass]="bigHeader ? 'display-6 mt-1' : 'display-3'">RUBÉN AGUILAR MASELI</h1>
</header>

<div class="navbar navbar-expand-md navbar-light p-0">
    
    <div class="container-fluid">
        <!-- <a class="navbar-brand  top-0 mt-2" routerLink="bienvenida" id="logo">Rubén Aguilar Maseli</a> -->

            <h1 class="d-md-none mx-auto my-3 pe-5">Rubén Aguilar Maseli</h1>
            <button class="d-md-none navbar-toggler collapse show position-absolute top-0 end-0" 
                    type="button" 
                    (click)="menuCollapsed = !menuCollapsed"
                    [class.menu-btn-opened]="!menuCollapsed">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <span class="menu-btn-line"></span>
                <span class="menu-btn-line"></span>
                <span class="menu-btn-line"></span>
            </button>

        <div [ngbCollapse]="menuCollapsed" 
            class="collapse navbar-collapse " 
            id="navbarMenu">

            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 user-select-none">

            <li class="nav-item fs-5">
                <a class="nav-link mx-auto mx-md-1 mx-lg-4 ps-5 ps-md-0 cursor-pointer text-light" 
                    routerLink="bienvenida" 
                    routerLinkActive="active"
                    (click)="menuCollapsed = true">Inicio</a>
            </li>

            <li class="border-bottom opacity-25"></li>

            <li class="nav-item fs-5">
                <a class="nav-link mx-auto mx-md-1 mx-lg-4 ps-5 ps-md-0 cursor-pointer text-light" 
                    routerLink="biografia" 
                    routerLinkActive="active"
                    (click)="menuCollapsed = true">Biografía</a>
            </li>

            <li class="border-bottom opacity-25"></li>

            <li class="nav-item fs-5">
                <a class="nav-link mx-auto mx-md-1 mx-lg-4 ps-5 ps-md-0 cursor-pointer text-light" 
                    routerLink="trayectoria" 
                    routerLinkActive="active"
                    (click)="menuCollapsed = true">Trayectoria</a>
            </li>

            <li class="border-bottom opacity-25"></li>

            <li class="nav-item fs-5">
                <a class="nav-link mx-auto mx-md-1 mx-lg-4 ps-5 ps-md-0 cursor-pointer text-light" 
                    routerLink="galeria" 
                    routerLinkActive="active"
                    (click)="menuCollapsed = true">Galeria</a>
            </li>

            <li class="border-bottom opacity-25"></li>

            <li class="nav-item fs-5 ">
                <a class="nav-link mx-auto mx-md-1 mx-lg-4 ps-5 ps-md-0 cursor-pointer text-light" 
                    routerLink="contacto" 
                    routerLinkActive="active"
                    (click)="menuCollapsed = true">Contacto</a>
            </li>
            
            </ul>

        </div>
    </div>
  </div>