/* SWIPER */

/* REMOVE to let columns config by BS */
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.pic-container{
    min-height: 25vh;
    max-height: 50vh;
    overflow: hidden;
}

.pic-container > .img-fluid {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: 50% 20%;
    transition: .5s ease-in;
    transition: transform 1s ease;
}

.view-icon{
    font-size: 2rem !important;
    opacity: 0;
    cursor: pointer;
    transition: .3s ease-out;
}

.pic-container:hover .view-icon{
    font-size: 5rem !important;
    z-index: 1000;
    opacity: .5;
}

.pic-container:hover .img-fluid {
    cursor: pointer;
    transform: scale(1.10);
    filter: blur(2px) brightness(70%) saturate(70%);
}

@media screen and (max-width: 768px)  {
    .gallery{
        padding: 10px 20px;
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .pic-container{
        max-height: 70vh;
    }
}