<div class="container mt-5">

    <div class="text-center">
            <img src="../../../assets/img/galeria/galeria-1.webp" 
                alt=""
                class="col-10 col-md-4 p-3 img-fluid">
    
            <img src="../../../assets/img/galeria/galeria-2.webp" 
                alt=""
                class="col-10 col-md-4 p-3 img-fluid">
    
            <img src="../../../assets/img/galeria/galeria-3.webp" 
                alt=""
                class="col-10 col-md-4 p-3 img-fluid">
    
            <img src="../../../assets/img/galeria/galeria-4.webp" 
                alt=""
                class="col-10 col-md-4 p-3 img-fluid">
    
    
            <img src="../../../assets/img/galeria/galeria-5.webp" 
                alt=""
                class="col-10 col-md-4 p-3 img-fluid">
    
    
            <img src="../../../assets/img/galeria/galeria-6.webp" 
                alt=""
                class="col-10 col-md-4 p-3 img-fluid">
    
    
            <img src="../../../assets/img/galeria/galeria-7.webp" 
                alt=""
                class="col-10 col-md-4 p-3 img-fluid">
    
    
            <img src="../../../assets/img/galeria/galeria-8.webp" 
                alt=""
                class="col-10 col-md-4 p-3 img-fluid">
    
    
            <img src="../../../assets/img/galeria/galeria-9.webp" 
                alt=""
                class="col-10 col-md-4 p-3 img-fluid">
    
    
            <img src="../../../assets/img/galeria/galeria-10.webp" 
                alt=""
                class="col-10 col-md-4 p-3 img-fluid">
    
    
            <img src="../../../assets/img/galeria/galeria-11.webp" 
                alt=""
                class="col-10 col-md-4 p-3 img-fluid">
    
    
            <img src="../../../assets/img/galeria/galeria-12.webp" 
                alt=""
                class="col-10 col-md-4 p-3 img-fluid">
    
    
            <img src="../../../assets/img/galeria/galeria-13.webp" 
                alt=""
                class="col-10 col-md-4 p-3 img-fluid">
    
    
            <img src="../../../assets/img/galeria/galeria-14.webp" 
                alt=""
                class="col-10 col-md-4 p-3 img-fluid">
    
    
            <img src="../../../assets/img/galeria/galeria-15.webp" 
                alt=""
                class="col-10 col-md-4 p-3 img-fluid">
    
            <img src="../../../assets/img/galeria/galeria-16.webp" 
                alt=""
                class="col-10 col-md-4 p-3 img-fluid">
    
            <img src="../../../assets/img/galeria/galeria-17.webp" 
                alt=""
                class="col-10 col-md-4 p-3 img-fluid">
    
            <img src="../../../assets/img/galeria/galeria-18.webp" 
                alt=""
                class="col-10 col-md-4 p-3 img-fluid">
    
    </div>

</div>