/* SWIPER */

/* REMOVE to let columns config by BS */
.row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.pic-container > .img-fluid {
    min-height: 30vh;
    max-height: 60vh;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 20%;
    overflow: hidden;
}

.pic-container > .img-fluid:hover {
    cursor: pointer;
    transform: scale(1.02);
    overflow: hidden;
}