.picsum-img-wrapper img{
    width: 100%;
    height: max(70vh,300px);
    max-height: 1200px;
    object-fit: cover;
    object-position: center;
    /* overflow: hidden; */
}

/* .section{
    height: max(60vh,400px);
    max-height: 800px;
} */

/* #section-1,
#carrousel{
    background-color: beige;
}

#section-2{
    background-color: rgba(0, 128, 0, 0.150)
}

#section-3{
    background-color: rgba(0, 140, 255, 0.150);
} */

section:nth-child(1) {
    background-color: red;
}

.section img {
    object-fit: contain;
    object-position: center;
    /* height: max(60vh,300px); */
    max-height: 600px;
}

.section-corner{
    width: 40vw;
    max-width: 70%;
    height: 10vw;
    max-height: 70%;
}

.divider{
    max-width: 300px;
}
