.picsum-img-wrapper img{
    width: 100%;
    height: max(60vh,300px);
    max-height: 1200px;
    object-fit: cover;
    object-position: 50% 30%;
    /* overflow: hidden; */
}

section {
    background-color: #eee;
}

.section img {
    object-fit: contain;
    object-position: center;
    /* height: max(60vh,300px); */
    max-height: 600px;
}

.section-corner{
    width: 40vw;
    max-width: 70%;
    height: 10vw;
    max-height: 70%;
}

.divider{
    max-width: 300px;
}
