
<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-8 col-lg-6 col-xxl-5 py-4 mx-auto">
                <h2 class="display-5 mb-4 text-center">Teatro</h2>
                <dl>
                    <dt ><span class="fs-5">Titulo 1</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 2</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 3</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 4</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 5</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 6</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 7</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 8</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                </dl>
            </div>
        </div>
    </div>
</section>

<!-- Image Background 1 -->
<div class="bg-gap bg-trayectoria-1"></div>

<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-8 col-lg-6 col-xxl-5 py-4 mx-auto">
                <h2 class="display-5 mb-4 text-center">Audiovisual</h2>
                <dl>
                    <dt ><span class="fs-5">Titulo 1</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 2</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 3</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 4</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 5</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 6</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 7</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 8</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                </dl>
            </div>
        </div>
    </div>
</section>



<!-- Image Background 2 -->
<div class="bg-gap bg-trayectoria-2"></div>

<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-8 col-lg-6 col-xxl-5 py-4 mx-auto">
                <h2 class="display-5 mb-4 text-center">Formación</h2>
                <dl>
                    <dt ><span class="fs-5">Titulo 1</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 2</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 3</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 4</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 5</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 6</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 7</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                    <dt ><span class="fs-5">Titulo 8</span>  | 2022 </dt>
                    <dd class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ex.</dd>
                </dl>
            </div>
        </div>

        <div class="text-center my-5">
            <h2 class="display-6">¿Mejor en PDF?</h2>
            <button class="btn btn-lg btn-warning mt-3 text-light">
                <i class="fa-solid fa-file-arrow-down"></i>
                Descargar CV
            </button>
        </div>

    </div>
</section>

