/* You can add global styles to this file, and also import other style files */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background-color: #555; */
}

/* DISPLAY */

header,
header h1{
    transition: .3s ease-out;
}

app-common {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    height: 60px;
}


/* COMMON CLASSES */

.cursor-pointer{
    cursor: pointer;
}


/* IDs */

