/* SWIPER */

/* @import "../node_modules/swiper/swiper.min.css";
@import "../node_modules/swiper/swiper-bundle.css";
@import "../node_modules/swiper/swiper-bundle.min.css"; */

/* GENERAL STYLES */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    /* overflow-y: overlay; */
    scroll-behavior: auto !important;
    /* overflow-x: hidden; */
}

body{
    /* background-color: #555; */
}

/* DISPLAY */

header,
header h1{
    transition: .3s ease-out;
}

app-common {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    height: 60px;
}


/* COMMON CLASSES */

.cursor-pointer{
    cursor: pointer;
}

.bg-gap{
    height: 50vh;
}

/* SWIPER CUSTOM */

.swiper{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    padding: 5%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    user-select: none;
}

.swiper::-webkit-scrollbar {
    display: none;
}

.swiper-wrapper{
  display: flex;
  flex-direction: row;
}
  
.swiper-slide img {
    user-select: auto;
    display: block;
    width: 100vw;
    height: 100%;
    object-fit: contain;
}

.swiper-controls{
    z-index: 3000;
    cursor: pointer;
}

.btn-swiper{
    
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    border-radius: 50%;
    transition: .1s ease;
}

.swiper-button-next,
.swiper-button-prev {
    color: #ccc;
    padding: 40px;
    transition: .1s ease;
    border-radius: 50%;
}

.btn-swiper:hover,
.swiper-button-next:hover,
.swiper-button-prev:hover {
    text-shadow: 0 0 5px rgb(0, 0, 0);
    color: #fff;
}

.btn-swiper:active,
.swiper-button-next:active,
.swiper-button-prev:active {
    background-color: rgba(0, 0, 0, 0.5);
}

.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    background-color: snow;
}
.swiper-pagination-bullet-active{
    background-color: #ccc;
}

/* .swiper-slide-prev,
.swiper-slide-next {
    display: none;
} */