/* SWIPER */

/* @import "../node_modules/swiper/swiper.min.css";
@import "../node_modules/swiper/swiper-bundle.css";
@import "../node_modules/swiper/swiper-bundle.min.css"; */

@import "./bs-custom.scss";

/* ==================== FONTS ==================== */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

/* REMOVE!!! */
:root{
    --color-1:#F3F4ED;
    --color-2:#536162;
    --color-3:#424642;
    --color-4:#C06014;
}

/* ==================== GENERAL STYLES ==================== */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Playfair Display', serif; */
}

html{
    /* overflow-y: overlay; */
    scroll-behavior: auto !important;
    /* overflow-x: hidden; */
}


/* ==================== DISPLAY ==================== */

header,
header h1{
    transition: .3s ease-out;
    font-family: 'Oswald', sans-serif;
}

.navbar-nav .nav-item .nav-link{
    font-family: 'Oswald', sans-serif ;
    font-weight: 200;
    letter-spacing: 1pt;
}

app-common {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* ==================== COMMON CLASSES ==================== */


.cursor-pointer{
    cursor: pointer;
}

.bg-gap{
    height: 50vh;
}

/* ==================== SWIPER CUSTOM ==================== */

.swiper{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    // padding: 50px 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    user-select: none;
    animation: fadeIn .3s ease-out;
}

// .swiper::-webkit-scrollbar {
//     display: none;
// }

.swiper-zoom-container{
    height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiper-slide img {
    object-fit: contain;
}

.swiper-controls{
    z-index: 3000;
    cursor: pointer;
}

.btn-swiper{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    border-radius: 50%;
    transition: .1s ease;
}

.swiper-button-next,
.swiper-button-prev {
    color: #ccc;
    padding: 40px;
    transition: .1s ease;
    border-radius: 50%;
}

.btn-swiper:hover,
.swiper-button-next:hover,
.swiper-button-prev:hover {
    text-shadow: 0 0 5px rgb(0, 0, 0);
    color: #fff;
}

.btn-swiper:active,
.swiper-button-next:active,
.swiper-button-prev:active {
    background-color: rgba(0, 0, 0, 0.5);
}

.swiper-pagination{
    position: fixed;
    bottom: 10px;
}

.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    background-color: snow;
}
.swiper-pagination-bullet-active{
    background-color: #ccc;
}

/* .swiper-slide-prev,
.swiper-slide-next {
    display: none;
} */


/* ==================== ANIMATIONS ==================== */


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}