<swiper #swiper 
        [config]="config"
        (zoomChange)="zoomChange( $event )">

    
    <ng-template swiperSlide >
        <!-- <div class="bg-closer position-fixed top-0 start-0 bg-warning" (click)="closeSwiper()"></div> -->
        <div class="swiper-zoom-container">
            <img src="../../../assets/img/galeria/galeria-1.webp" alt="">  
        </div>   
    </ng-template>        
    
    <ng-template swiperSlide>
        <div class="swiper-zoom-container">
            <img src="../../../assets/img/galeria/galeria-2.webp" alt="">
        </div>
    </ng-template>
    
    <ng-template swiperSlide>
        <div class="swiper-zoom-container" >
            <img src="../../../assets/img/galeria/galeria-3.webp" alt="" >
        </div>
    </ng-template>
    
    <ng-template swiperSlide>
        <div class="swiper-zoom-container">
            <img src="../../../assets/img/galeria/galeria-4.webp" alt="">
        </div>
    </ng-template>
    
    <ng-template swiperSlide>
        <div class="swiper-zoom-container">
            <img src="../../../assets/img/galeria/galeria-5.webp" alt="">
        </div>
    </ng-template>
    
    <ng-template swiperSlide>
        <div class="swiper-zoom-container">
            <img src="../../../assets/img/galeria/galeria-6.webp" alt="">
        </div>
    </ng-template>
    
    <ng-template swiperSlide>
        <div class="swiper-zoom-container">
            <img src="../../../assets/img/galeria/galeria-7.webp" alt="">
        </div>
    </ng-template>
    
    <ng-template swiperSlide>
        <div class="swiper-zoom-container">
            <img src="../../../assets/img/galeria/galeria-8.webp" alt="">
        </div>
    </ng-template>
    
    <ng-template swiperSlide>
        <div class="swiper-zoom-container">
            <img src="../../../assets/img/galeria/galeria-9.webp" alt="">
        </div>
    </ng-template>
    
    <ng-template swiperSlide>
        <div class="swiper-zoom-container">
            <img src="../../../assets/img/galeria/galeria-10.webp" alt="">
        </div>
    </ng-template>
    
    <ng-template swiperSlide>
        <div class="swiper-zoom-container">
            <img src="../../../assets/img/galeria/galeria-11.webp" alt="">
        </div>
    </ng-template>
    
    <ng-template swiperSlide>
        <div class="swiper-zoom-container">
            <img src="../../../assets/img/galeria/galeria-12.webp" alt="">
        </div>
    </ng-template>
    
    <ng-template swiperSlide>
        <div class="swiper-zoom-container">
            <img src="../../../assets/img/galeria/galeria-13.webp" alt="">
        </div>
    </ng-template>
    
    <ng-template swiperSlide>
        <div class="swiper-zoom-container">
            <img src="../../../assets/img/galeria/galeria-14.webp" alt="">
        </div>
    </ng-template>
    
    <ng-template swiperSlide>
        <div class="swiper-zoom-container">
            <img src="../../../assets/img/galeria/galeria-15.webp" alt="">
        </div>
    </ng-template>
    
    <ng-template swiperSlide>
        <div class="swiper-zoom-container">
            <img src="../../../assets/img/galeria/galeria-16.webp" alt="">
        </div>
    </ng-template>
    
    <ng-template swiperSlide>
        <div class="swiper-zoom-container">
            <img src="../../../assets/img/galeria/galeria-17.webp" alt="">
        </div>
    </ng-template>
    
    <ng-template swiperSlide>
        <div class="swiper-zoom-container">
            <img src="../../../assets/img/galeria/galeria-18.webp" alt="">
        </div>
    </ng-template>


    
</swiper>

<div class="swiper-controls row position-fixed top-0 end-0 m-3 px-2" >

    <span class="btn-swiper fs-3 user-select-none"
            (click)="zoomOut()"
            [class.opacity-25]="!zoomed">
            <i class="fa-solid fa-magnifying-glass-minus"></i>
    </span>

    <span class="btn-swiper fs-3 user-select-none"
            (click)="zoomIn()"
            
            [class.opacity-25]="zoomed">
            <i class="fa-solid fa-magnifying-glass-plus"></i>
    </span>

    <span class="btn-swiper fs-1 user-select-none"
            (click)="closeSwiper()">
        <i class="fa-solid fa-xmark"></i>
    </span>
    
</div>