<!-- Image background -->
<!-- <div id="bg-biografia"></div> -->


<section class="bg-light py-5 shadow-lg">
    <div class="container">
        <h2 class="text-center mb-5">Mi pasado</h2>
        <div class="row">
            <div class="col-10 col-md-6 order-1 order-md-0 mx-auto ">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cumque eos obcaecati laboriosam dolorum voluptatem repellat consectetur harum molestias? Dolores at nam rem obcaecati, amet vero assumenda. Iure, non corrupti.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla itaque maxime dolore ullam fuga veritatis ipsum voluptate laboriosam placeat neque?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi fugit ab commodi, maxime possimus iste molestias nesciunt veniam expedita, corrupti ea deserunt adipisci aliquam dolorum.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis rerum delectus eveniet nihil aperiam temporibus voluptas voluptates beatae officia praesentium, perferendis sed natus voluptatibus eaque iusto porro? Quam aspernatur tempora dolor, asperiores tempore sint quos dolores voluptates aliquid. Aperiam, commodi!</p>
            </div>
            <div class="col-10 col-md-5 col-xl-4 mx-auto mb-5 user-select-none">
                <img src="../../../assets/img/biografia/biografia-1.webp" 
                    alt=""
                    class="img-fluid">
            </div>
        </div>
    </div>
</section>

<div class="bg-gap bg-transparent">
    <img src="../../../assets/img/biografia/biografia-bg_2500x1400.webp" 
        class="img-background"
        alt="">
</div>



<section class="bg-light py-5 shadow-lg">
    <div class="container">
        <h2 class="text-center mb-5">Mi presente</h2>
        <div class="row">
            <div class="col-10 col-md-5 col-xl-4 mx-auto mb-5 user-select-none">
                <img src="../../../assets/img/biografia/biografia-2.webp" 
                    alt=""
                    class="img-fluid">
            </div>
            <div class="col-10 col-md-6 mx-auto ">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cumque eos obcaecati laboriosam dolorum voluptatem repellat consectetur harum molestias? Dolores at nam rem obcaecati, amet vero assumenda. Iure, non corrupti.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla itaque maxime dolore ullam fuga veritatis ipsum voluptate laboriosam placeat neque?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi fugit ab commodi, maxime possimus iste molestias nesciunt veniam expedita, corrupti ea deserunt adipisci aliquam dolorum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum iusto mollitia delectus quia excepturi optio, perspiciatis rerum harum libero deserunt doloribus ab quibusdam, voluptates, recusandae similique! Cumque maiores ad laboriosam.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis rerum delectus eveniet nihil aperiam temporibus voluptas voluptates beatae officia praesentium, perferendis sed natus voluptatibus eaque iusto porro? Quam aspernatur tempora dolor, asperiores tempore sint quos dolores voluptates aliquid. Aperiam, commodi!</p>
            </div>
        </div>
    </div>
</section>